/* ---------- Form Styles ---------- */
section {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    max-width: 1000px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}

/* Inputs and selects */
form input, form select {
    display: block;
    margin: 8px 0;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Buttons */
form button {
    margin-top: 10px;
    background-color: #2E8B57;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #1E90FF;
}

/* Input Search */
input#search, input#doctor-search {
    padding: 8px;
    width: 50%;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}
